@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --color-primary : #4A7D6D;

    --color-text: #3A3A3A ;
    
    --color-white: #ffffff;

    --color-black: #000000;
}

@layer base {
    html, body {
        scroll-behavior: smooth;
          font-family: "Inter", sans-serif;
    }
}

@layer components {
    .glass{
        background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
        backdrop-filter: blur(16px);
        border: 1px solid color-mix(in srgb, var(--color-border) 50%, transparent);
    }

}